{% extends 'blog/basic.html' %}

{% block title%} About Us {% endblock %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="masthead-brand">BlogPost!</h1>
      <p> <br>Your About Us page is vital.<br>

          BlogPost started out as a small project and is now the fastest growing Content Create of all times in india and abroad.
      </p>

    </div>
  </div>


</main>


{% endblock %}
