{% extends 'blog/basic.html' %}

{% block title%} browse {% endblock %}
{% block body %}
<div class="container my-4">
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Template</strong>
          <h3 class="mb-0">Dark</h3>
          
          
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Template</strong>
          <h3 class="mb-0">light</h3>
        
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Template</strong>
          <h3 class="mb-0">Food</h3>
          
          
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Template</strong>
          <h3 class="mb-0">Abstract</h3>
        
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Template</strong>
          <h3 class="mb-0">Tech</h3>
          
          
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Template</strong>
          <h3 class="mb-0">Tutorials</h3>
        
          <a href="#" class="stretched-link">Download</a>
        </div>
        
      </div>
    </div>
  </div>
  </div>
{% endblock body%}